<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleDisplayName</key>
	<string>Eateria</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.661157308222-q1n7sgf6fp3k5ec67tflc3tes1e1nevf</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>661157308222-q1n7sgf6fp3k5ec67tflc3tes1e1nevf.apps.googleusercontent.com</string>
	<key>NSCameraUsageDescription</key>
	<string>This app uses the camera to take photos of food for nutritional analysis and to capture weight scale readings for health tracking.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app accesses your photo library to allow you to select existing photos of food for nutritional analysis.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app saves the food photos you take to your photo library for your memories.</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
</dict>
</plist>
