<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>Take photos of food to log calorie information.</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.661157308222-6g29d7erdqh37ue8ra7qv53otk107kdf</string>
            </array>
        </dict>
    </array>
    <key>GIDClientID</key>
    <string>661157308222-6g29d7erdqh37ue8ra7qv53otk107kdf.apps.googleusercontent.com</string>
</dict>
</plist>
